.nav-menu{
    background-color: #EDEDED;
    padding-bottom: 40px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    font-family: 'Merriweather',serif;
}

.nav-home{
    position: absolute;
    left: 50px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
}

.nav-home:hover{
    color: blue;
}

.nav-form{
    text-decoration: none;
    position: absolute;
    left: 200px;
    color: black;
    padding-top: 5px;
}

.nav-form:hover {
    color: blue;
}

.nav-about{
    text-decoration: none;
    position: absolute;
    left: 380px;
    color: black;
    padding-top: 5px;
}

.nav-about:hover{
    color: blue
}

.nft-icon{
    position: absolute;
    left: 10px;
    top: 0px;
    width: 29px;
    border: none;
}