.search-form {
    margin: auto;
    padding-top: 6%;
    padding-bottom: 10%;
    background: url('https://cdn.pixabay.com/index/2022/04/15/15-04-40-422_1440x550.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.searchBttn {
    border-radius:25px;
    width: 10%;
    height: 60px;
    padding: 10px;
    position:absolute;
    background:#04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }

  .searchBar {
    height:40px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    width: 50%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
  }