.App {
  text-align: center;
  font-family: 'Roboto Serif',serif;
}

.picture-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-gap: 1rem;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.picture-item{

  border: 1px solid #FFC069;
  
}

.picture-tag{
  color: #FFC107;
}

img{
  width: 15rem;
  height: 1fr;
  border: 1px solid yellowgreen;
  margin-top: 5px;
  margin-bottom: 5px;
}

.picture-desc{
  font-size: 15px;
}

.picture-like-views{
  
  font-size: 15px;
}

.span-tags{
  color: #FEB139;
}

.buy-btn{
  margin-bottom: 5px;
}

.doge-span{
  color:#F55353;
}

.like-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;


}
